// eslint disabled

$spacing: 20px;

// sidebar
$sidebarText: #bfcbd9;
$sidebarActiveText: #ffffff;
$sidebarSubActiveText: #f4f4f5;

$sidebarBg: #304156;

$sidebarHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 230px;
$hideSideBarWidth: 64px;
$sideBarDuration: 0.28s;


// header
$headerTopBg: #304156;

// container
$containerBg: #F0F2F5;



// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
// JS 与 scss 共享变量，在 scss 中通过 :export 进行导出，在 js 中可通过 ESM 进行导入
:export {
  sidebarText: $sidebarText;
  sidebarActiveText: $sidebarActiveText;
  sidebarSubActiveText: $sidebarSubActiveText;
  sidebarBg: $sidebarBg;
  sidebarHover: $sidebarHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;

  headerTopBg:$headerTopBg;

  containerBg: $containerBg;
}
